<html th:replace="~{base :: layout(~{:: title}, ~{::content}, _, _)}">
  <th:block th:fragment="title">Lista de Tarefas</th:block>

  <th:block th:fragment="content">
    <div class="row">
      <div class="col">
        <h1>Lista de Tarefas</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-info" th:if="${todos.empty}">
          Nenhuma tarefa encontrada.
        </div>
      </div>
    </div>

    <div class="row" th:unless="${todos.empty}">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Data</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="todo : ${todos}">
              <th scope="row" th:text="${todo.id}">1</th>
              <td th:text="${todo.title}">Some title</td>
              <td th:text="${#temporals.format(todo.dueDate)}">01/01/2022</td>
              <td>
                <a
                  class="btn btn-sm btn-warning"
                  th:href="@{/todos/edit/{id} (id=${todo.id})}"
                >
                  <i data-feather="edit"></i>
                </a>
                <a
                  class="btn btn-sm btn-danger"
                  th:href="@{/todos/delete/{id} (id=${todo.id})}"
                  onclick="return confirm('Tem certeza que deseja excluir?');"
                >
                  <i data-feather="trash-2"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a class="btn btn-primary" th:href="@{/todos/create}">Nova Tarefa</a>
      </div>
    </div>
  </th:block>
</html>
